# This file is part of transitfeeds-api.
# https://github.com/fitnr/transitfeeds-api

# Licensed under the GPLv3 license
# Copyright (c) 2017, Neil Freeman <contact@fakeisthenewreal.org>

language: python

python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - pypy

git:
  depth: 3

env:
  global:
    - secure: qFMznoNlVcFLtVKoiASuL8rlihKdZZUd8uAr9/i0HZS5H5JqcVJkjriudtdDTk5W4c6U1mc37jHePgZPcx+m5bIbViJDtfAGCMcFTxnteV6YUmmBnHxTcPB/HOt6mbg6DhIcAnt/PyMImU1yjZQKOLQsG+80to08pqcg1BenmU0hxq9gLG9r4FTh1IcEGJhm+ip1qsQTV0ROfbfKGUK5cXLGLCUVvAZVRX8o+xIWyg+09O/++2PpwFUawunN2C4aZUdWflgS2m+flehLw/s0hwg5ANd+lhwVS8T9Es4CMz4kHmArTXk5PVa7u1Qe/7319Ggc+ZJ6utE3cIQwMqARG/4uVoKVKTM4l5S2gcPqoGxmF5G7yIGuR4bgK3VM3GH3u4jfBMWbTtnOV6SYRVhDmNqsfFbZ3I5kPg0g8FH9444gin5uLSwNyEnUvIT+bLuBty7Z1a4uHuHSV/yGRhTGJlE1kpWLfxov35giuxUBehI22B8LOzkdSSXTmBMJoY1ORs/k/yKKo4p+UYDxabkzZ6RJMixtjJRV0Lqny6LJkyF8uajxFw9AGpyFCPne5LWOrRzqh3ImzaB4atP/iA60DQniwMhDywSHI8D4NdM6WDzdQouF6PLx5cuTdnoShZv5acqF7zochnQGAiUH4xKIiw9Okf7w1kNTsXIAtB9jfhg=

install:
    - pip install coverage
    - python setup.py install

script:
    - coverage run setup.py test
    - transitfeeds location --list | head
    - transitfeeds location -H 119
    - transitfeeds feed mta/81
    - transitfeeds feed -H mta/80

after_script:
    - coverage report --show-missing --include=transitfeeds/*
